<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>North Byte IT</title>
<script src="/js/tailwind.config.js"></script>
<script src="https://cdn.tailwindcss.com/3.4.16"></script>
<script src="/js/main.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" />
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/contactpage.css">
